@charset "utf-8";

.main_box1 {
    position: absolute;
    left: 1.5%;
    top: 14%;
  }
.main_box2{
    position: absolute;
    left: 74%;
    top: 14%;
}
.main_box3{
    position: absolute;
    left: 1.5%;
    top: 66%;
}
.main_box4{
    position: absolute;
    left: 65%;
    top: 66% 
}
